<!DOCTYPE html>
<html lang="en" xmlns:th"http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta charset="UTF-8">
    <title>My Recipe</title>
</head>
<body>
<div class="main-container">
    <div class="menu">
        <ul class="navbar">
            <li class="navlist"><a class="nav" href="#contact">Home</a></li>
            <li class="navlist"><a class="nav" href="/photos">Photo Gallery</a></li>
            <li class="dropdown"><a class="nav" href="javascript:void(0)">Recipes</a>
                <div class="dropdown-content">
                    <a href="/crabcake">Crabcake</a>
                    <a href="/gumbo">Gumbo</a>
                </div>
            </li>
        </ul>
    </div>
    <h1 class="navheading">My Recipe Book</h1>
</div>
</body>
</html>